// Hero Styles & layout
#hero {
  padding: 5rem 0 1rem 0;
  background: $BrandColor-primary url('https://alandette.com/assets/img/bkg-hero01.png');
  background-size: cover;
  color: #fff;

  >div {
    height: 100%;

    .flxboxes {
      flex-direction: column-reverse;

      .caption {
        h1 {
          color: #fff !important;
          margin: 0 0 1rem;
        }
      }

      .media {
        .fancyblob{
          max-width: 90%;
          margin: 0 auto 2rem;
        }
      }
    }
  }
}