// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  // Hero Styles & layout
  #hero {

    >div {

      .flxboxes {

        .media {
          .fancyblob {
            max-width: 80%;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {






  // Hero Styles & layout
  #hero {
    padding: 1rem 0;

    >div {
      height: 100vh;

      .flxboxes {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .caption {
          width: 40%;

          h1 {
            color: #fff !important;
            margin: 0 0 1rem;
          }
        }

        .media {
          width: 50%;

          .fancyblob {
            max-width: 95%;
            margin: 0;
          }
        }




      }
    }
  }













}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}