// Marca: esquema de color (https://flatuicolors.com/palette/es)
$BrandColor-primary :#21233A;   /* #40407a */ 
$BrandColor-secondary :#8fbbb3; /* #9E9EFF */
$BrandColor-tertiary :#EB7D3D;  /* #D9C671 */

// Tipografía
$FontBase :'Poppins', sans-serif;
$FontHeadings :'Comfortaa', cursive;
$FontSize : 16px;
$FontColor :#333;
$FontWight : 400;
$lineHeight:150%;
$bkgColor: #fff;

// Escala de grises para fondos
$Gray100 :#f2f2f2; /* 5% */
$Gray200 :#808080; /* 50% */
$Gray300 :#4d4d4d; /* 70% */